
ion-content{
    font-weight: 500;
    font-family: monospace;
}
ion-item{
    --border-color: transparent;
}
ion-range{
    --knob-size	: 0px;
}
.text-label{
   color: gray; 
}
.horizontal{
    border: 0.1px solid #80808061;
    height: 0px;
}
.horizontal-1{
    border: 0.1px solid #8080802e;
    height: 0px;
    width:90%;
}

.text-center{
    text-align: center;
}
.label{
      margin-left: 17px;
      font-size: 13px;
      color: #808080b3;
      font-family: auto;
      
}
.label-title{
    font-size: 13px;
    color: #808080b3;
    font-family: auto;
    
}
.lable-value{
    margin-left: 17px;
    font-size: 13px;
}

.payment-btn{
    --border-color: #607d8b24;
    height: 82%;
    width: 70%;
}
.payment-btn-visa{
    --border-color: #607d8b24;
    height: 82%;
    width: 70%;
    background-color: #2e5bff;
}


