
<ion-content id="container">  
    <ion-card *ngFor="let passenger of passengers; let i = index">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item class="label-title">
            <ion-label>PASSANGER INFO</ion-label>
            </ion-item>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-item>
            <ion-label class="ion-text-right lable-value"><b>Hide Information</b></ion-label>
              <ion-toggle (ionChange)="toggleVisibility($event, i)"></ion-toggle>
          </ion-item>
        </ion-col>  
      </ion-row>
      <div *ngIf="!passenger.isVisible && passenger">
      <ion-row>
        <ion-col>
          <div>
            <ion-item>
              <ion-avatar slot="start">
                <img src="{{passenger.avtar}}">
              </ion-avatar>
              <ion-label>
                <h3><b>{{passenger.name}}</b></h3>
                <p class="text-label">{{passenger.interactions}}</p>
              </ion-label>
            </ion-item>
            <p>
            <ion-label class="label">EMAIL</ion-label><br>
            <ion-text class="lable-value"><b>{{passenger.email}}</b></ion-text>
            </p>
            <p>
            <ion-label class="label">PHONE</ion-label><br>
            <ion-text class="lable-value"><b>{{passenger.phone}}</b></ion-text>
            </p>
            <p>
            <ion-label class="label">LOCATION</ion-label><br>
            <ion-text class="lable-value"><b>{{passenger.location}}</b></ion-text>
            </p>
          </div>
        </ion-col>
        <ion-col>
          <ion-row>
          <ion-col>  
          <ion-button (click)="click()" class="payment-btn" fill="outline">
              <img src="{{passenger.paypalBtn}}">
        </ion-button>
        </ion-col>
        <ion-col>
        <ion-button (click)="click()" class="payment-btn-visa" fill="outline">
          <img src="{{passenger.visaBtn}}">
        </ion-button>
        </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>  
          <ion-button (click)="click()" class="payment-btn" fill="outline">
              <img src="{{passenger.mastercardBtn}}">
        </ion-button>
        </ion-col>
        <ion-col>
        <ion-button (click)="click()" class="payment-btn" fill="outline">
          <img src="{{passenger.appleBtn}}">
        </ion-button>
        </ion-col>
        </ion-row>
        </ion-col>
      </ion-row> 

    <br><br>

      <ion-row>
        <ion-col size="3" class="text-center">
          <img src="assets/icon/check.png"><br>
          <ion-label><b>{{passenger.source}}</b></ion-label><br>
          <ion-text class="text-label">{{passenger.sourceAddress}}</ion-text>
        </ion-col>
        <ion-col size="6">
          <hr class="horizontal">
        </ion-col>
        <ion-col size="3" class="text-center">
          <img src="assets/icon/location.png"><br>
          <ion-label><b>{{passenger.destination}}</b></ion-label><br>
          <ion-text class="text-label">{{passenger.destinationAddress}}</ion-text>
        </ion-col> 
      </ion-row><br>
      
      <hr class="horizontal-1">
      
      
      <ion-row>
        <ion-col size="3" class="text-center">
          <ion-label><b>{{passenger.distance}}</b></ion-label><br>
          <ion-text class="text-label">Distance</ion-text>
        </ion-col>
        <ion-col size="3" class="text-center">
          <ion-label><b>{{passenger.time}}</b></ion-label><br>
          <ion-text class="text-label">Time</ion-text>
        </ion-col>
        <ion-col size="3" class="text-center">
          <ion-label><b>{{passenger.price}}</b></ion-label><br>
          <ion-text class="text-label">Price</ion-text>
        </ion-col>
        <ion-col size="3" class="text-center">
          <ion-label><b>{{passenger.energy}}</b></ion-label><br>
          <ion-text class="text-label">Energy</ion-text>
        </ion-col>
      </ion-row>
      </div>    
    </ion-grid>
    </ion-card>
    
</ion-content>